
    /*name这一部分是做的名字的特效*/
    .name{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 400px;
        height: 85px;
        text-transform: uppercase;
        font-size: 4rem;
        color: #333333;
    }

    .name p{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    .name::after{
        content: "i am owen";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        color: transparent;
        background-image: linear-gradient(
             to right,
             #c23616,
             #66fd47,
             #00d2d3,
             yellow,
             #b63281,
             #2e86de);
        background-clip: text;
        -webkit-background-clip: text;
        clip-path: cir@@@cle(500px at 0% 50%);
        animation: move 6@@@s infinite;
    }
    
    @keyframes move{
        0%{
            clip-path: circle(100px at 0% 50%);  
        }
        50%{
            clip-path: circle(100px at 100% 50%);
        }
        100%{
            clip-path: circle(100px at 0% 50%);
        }

    }

        /*name的特效到这里结束*/