.bk1{
    background-image: url(atlantis_nebula_14-wallpaper-1920x1080.jpg);
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bk2{
    background-image: url(F-104G.jpg);  
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.buttonvideo{
    text-align: center;
}

.video{
    text-align: center;
}
